 /* import google fonts- montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat" , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5f41e4;
}
#root {
  width: 100%;
  padding: 0.6rem;
}
.login-container{
    max-width: 410px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding:2rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.login-container .form-title{
   text-align: center;
   font-size: 1.37rem; 
   font-weight: 600;
   margin-bottom: 1.87rem;

}
.login-container .social-login{
    display: flex;
    gap:1.31rem;
    
} 
.social-login .social-button{
  display:flex;
  width:100%;
  gap:0.81rem;
  font-size: 1rem;
  font-weight: 500; 
  cursor: pointer;
  padding: 0.75rem 0;
  align-items: center;
  justify-content: center;
  border-radius: 0.31rem;
  border:1px solid #D5CBff;
  background:#f9f8ff ;
  transition:0.3s ease;

}
.social-login .social-button:hover{
  border-color: #5f41e4;
  background:#f9f8ff ;

}
.social-login .social-button .social-icon{
    width:23px;

}
.login-container .separator{
   margin: 1.5rem 0;
   text-align: center;
   position:relative; 
   background: #fff;
}
.login-container .separator span{
     position:relative;
     z-index: 1;
     background: #fff;
     padding:0 0.9rem;
     font-size: 1.06rem;
     font-weight: 500;
     color:#6652be;
}
.login-container .separator::after{
    position:absolute;
    content:"";
    left:0;
    top:50%;
    height: 1px;
    width:100%;
    background: #bfb3f2;

}

.login-form .input-wrapper{
    height: 54px;
    width:100%;
    position: relative;
    margin-bottom: 1.5rem;

} 


.login-form  .input-field{
    height: 100%;
    width:100%;
    outline:none;
    font-size:1.06rem;
    border-radius: 0.31rem;
    border:1px solid #bfb3f2;
    padding: 0px 1.25rem 0 3.12rem; 
    transition: 0.2s ease;
}
.login-form .input-field:focus{
    border-color: #5f41e4;
}

.login-form  .input-field::placeholder{
    color:#9284c8;  
}
.login-form .input-wrapper i{
    color:#a395e0;
    position:absolute;
    top:50%; 
    height:100%;   
    display:flex;
    align-items: center;
    transform :translateY(-50%);
    transition: 0.2s ease;
}  
.login-form .input-wrapper i:not(.eye-icon){
    left: 0.93rem;
    pointer-events: none;
}
.login-form .input-field:focus ~ i:not(.eye-icon){
    color: #5f41e4;
}
.login-form .input-wrapper i.eye-icon{
    display: none;
    font-size: 1.25rem;
    cursor:pointer;
    right:0.9rem;
    color:#917de8; 
 }

.login-form .input-wrapper .input-field:valid ~  i.eye-icon {
    display :flex;
}
.login-form .forgot-pass-link{
    display: block;
    width: fit-content;
    margin-top: -0.44rem;

}
.login-form .login-button{
    width:100%;
    height: 54px;
    cursor: pointer;
    outline: none; 
    border:none;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    background: #5f41e4;
    margin-top: 2.19rem;
    border-radius:0.31rem;
    transition: 0.3s ease;
}
.login-form .login-button :hover{
    background: #4320df;
}
.login-container .signup-text{
    text-align: center;
    font-weight: 500;
    font-size: 1.06rem;
    margin: 1.75rem 0 0.31rem;

}
.login-container a{
    color: #5f41e4;
    font-weight: 500;
    text-decoration: none;
}
.login-container a:hover{
    text-decoration: underline;
} 

.user-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .logout-button {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .logout-button:hover {
    background-color: #cc0000;
  }
  
  .logout-button:active {
    transform: scale(0.95);
  }
  
  